# Set true to display errors when debugging
ERRORS=false

# If true, sends the version=beta flag in the authorization URL, indicating to
# Amazon that this application is being authorized in a testing state. Must be
# set to false in production.
DEBUG=true

# Amazon grant authorization URL - edit for other locations
SP_AUTH_GRANT_URL=https://sellercentral.amazon.com
SP_AUTH_GRANT_ENDPOINT=/apps/authorize/consent

# Amazon OAuth Token URL
OAUTH_URL=https://api.amazon.com/auth/o2/token

# All this information can be found in the listing for your SP API app on the
# Develop Apps page: https://sellercentral.amazon.com/sellingpartner/developerconsole
LWA_CLIENT_ID=
LWA_CLIENT_SECRET=
SPAPI_APP_ID=

# Credentials for an AWS IAM user with SP API ExecuteAPI permissions
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Add the Role ARN if you are using STS
ROLE_ARN=

# Only modify these if you're operating outside of the North American region
SPAPI_AWS_REGION=us-east-1
SPAPI_ENDPOINT=https://sellingpartnerapi-na.amazon.com

# Advertising API Authorization & Token Endpoints
ADS_OAUTH_URL=https://www.amazon.com
ADS_OAUTH_ENDPOINT=/ap/oa

# The following are obtained from the LWA credentials once you are approved by Amazon
ADS_CLIENT_ID=
ADS_CLIENT_SECRET=
ADS_REDIRECT=